// Opacity
$opacity-level-semi-opaque: null;
$opacity-level-intense: null;
$opacity-level-medium: null;
$opacity-level-light: null;
$opacity-level-semi-transparent: null;

// Shade
$shade-level-1: null;
$shade-level-2: null;

// Tint
$tint-level-1: null;
$tint-level-2: null;

