@function negative-value($value) {

  @return $value * -1;
}

img {

  &:not([alt]) {

    outline: 4px solid red;
    outline-offset: -8px;
  }

  &:not([loading="lazy"]) {

    border: 4px solid orange;
  }
}
