:root {
  --bs-body-bg: #EFEFEF;
  --bs-border-color: #7C7C7C;
  --bs-border-radius: 8px;

  --bs-success-rgb: 124, 204, 87;
  --bs-info-rgb: 107, 181, 249;
  --bs-warning-rgb: 249, 200, 107;
  --bs-danger-rgb: 249, 107, 107;
  --bs-dark-rgb: 72, 72, 72;
}

.web-vitals {
  header, footer {
    display: none;
  }

  .form-select:focus {
    border-color: var(--bs-border-color);
  }

  .progress {
    --bs-progress-height: .625rem;
    --bs-progress-bg: #CFCFCF;
  }

  .btn {
    --bs-btn-border-radius: 50rem;
  }

  .ic-status {
    width: 1.375rem;
    height: 1.375rem;
  }

  .logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.05;
    filter: blur(2px);
  }
}
