.accordion {
	&-item {
		border-top: $border-width solid $border-color;
		
		&:last-child {
			border-bottom: $border-width solid $border-color;
		}
	}
	
	&-header {
		cursor: pointer;
		
		@include media-breakpoint-up(md) {
			padding-left: 7.5rem;
		}
		
		.ic-arrow {
			position: absolute;
			left: 3.5%;
			top: 1.25rem;
		}
		
		&[aria-expanded=true] {
			.ic-arrow {
				transform: rotate(0deg);
			}
		}
	}
	
	&-content {
		@include media-breakpoint-up(md) {
			padding-left: 7.5rem;
		}
	}
}
