.ic {

  @each $color, $value in $theme-colors {
    &-#{$color} {

      fill: $value;
    }
  }

  &-right {

    transform: rotate(-90deg);
  }

  &-inverse {

    transform: rotate(180deg);
  }

  &-infinite-scroll-loading {

    min-height: $infinite-scroll-loading-icon-size;
    background: $infinite-scroll-loading-icon-background;
  }

  &-sm {

    width: $icon-sm;
    height: $icon-sm;
  }

  &-md {

    width: $icon-md;
    height: $icon-md;
  }

  &-lg {

    width: $icon-lg;
    height: $icon-lg;
  }
}
