.ic {

  @each $color, $value in $theme-colors {
    &-#{$color} {

      fill: $value;
    }
  }

  &-right {

    transform: rotate(-90deg);
  }

  &-inverse {

    transform: rotate(180deg);
  }
}
