$block-spacing-y: 4rem;

.block {
  &-spacer-t {
    padding-top: $block-spacing-y;

    @include media-breakpoint-up(lg) {
      padding-top: calc(#{$block-spacing-y} * 2);
    }
  }

  &-spacer-b {
    padding-bottom: $block-spacing-y;

    @include media-breakpoint-up(lg) {
      padding-bottom: calc(#{$block-spacing-y} * 2);
    }
  }

  &-spacer-y {
    padding-top: $block-spacing-y;
    padding-bottom: $block-spacing-y;

    @include media-breakpoint-up(lg) {
      padding-top: calc(#{$block-spacing-y} * 2);
      padding-bottom: calc(#{$block-spacing-y} * 2);
    }
  }
}
