.block {

  &-spacer-t {

    padding-top: $block-spacing-y;

    @include media-breakpoint-down(md) {

      padding-top: calc(#{$block-spacing-y} / 2);
    }
  }

  &-spacer-b {

    padding-bottom: $block-spacing-y;

    @include media-breakpoint-down(md) {

      padding-bottom: calc(#{$block-spacing-y} / 2);
    }
  }

  &-spacer-y {

    padding-top: $block-spacing-y;
    padding-bottom: $block-spacing-y;

    @include media-breakpoint-down(md) {

      padding-top: calc(#{$block-spacing-y} / 2);
      padding-bottom: calc(#{$block-spacing-y} / 2);
    }
  }
}

.position {

  &-middle {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-justify-center {

    left: 50%;
    transform: translateX(-50%);
  }

  &-align-center {

    top: 50%;
    transform: translateY(-50%);
  }
}
