$link-color: $body-color;
$link-dark-color: $white;

.breadcrumb {

  margin-block: 1.5rem;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  //flex-direction: row-reverse;
  //direction: rtl;

  @include media-breakpoint-down(md) {
    overflow-x: hidden;
    margin-block: .5rem;
  }

  &-item {
    flex: 0 1 auto;
    white-space: nowrap;
    //overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: $font-size-sm;
    padding-block: 1rem;
    --#{$prefix}link-color-rgb: #{to-rgb($link-color)};
    --#{$prefix}breadcrumb-item-active-color: #{to-rgb($link-color)};

    &.active {
      font-weight: $font-weight-bold;
      flex-shrink: 1;
    }

    &:first-child,
    &:nth-last-child(2) {
      flex-shrink: 0;
    }

    + .breadcrumb-item::before {
      content: unset;
      background: #{escape-svg($form-select-indicator)} no-repeat;
      background-size: contain;
      width: $spacer * .8;
      height: $spacer * .8;
      transform: rotate(-90deg);
      margin-right: var(--bs-breadcrumb-item-padding-x);
      display: inline-block;
      vertical-align: middle;
      float: unset;
    }

    .ic-chevron-right {
      margin: 0 .625rem 0 .625rem;
      color: var(--#{$prefix}primary);
    }
  }

  &-dark {

    .breadcrumb-item {

      --#{$prefix}link-color-rgb: #{to-rgb($link-dark-color)};
      --#{$prefix}breadcrumb-item-active-color: #{$link-dark-color};
      --#{$prefix}breadcrumb-divider-color: #{$link-dark-color};
      --#{$prefix}link-hover-color-rgb: #{to-rgb(shift-color($link-dark-color, $link-shade-percentage))};

      + .breadcrumb-item::before {

        $form-select-indicator-color: $link-dark-color;
        $form-select-indicator: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\'><path fill=\'none\' stroke=\'#{$form-select-indicator-color}\' stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'2\' d=\'m2 5 6 6 6-6\'/></svg>');
        background: #{escape-svg($form-select-indicator)} no-repeat;
      }

      .ic-chevron-right {
        filter: brightness(0) invert(1);
      }
    }
  }
}
