.icon-link {

  text-decoration-color: inherit;

  @include icons-size-setup;

  $hover-effects: (
    none: none,
    rotate-center: scale(1.1) rotate(45deg),
    scale-center: scale(1.2),
    flip-horizontal: scaleX(-1),
    flip-vertical: scaleY(-1),
    pulse: scale(1.1),
  );

  @each $name, $transform in $hover-effects {
    &-hover-#{$name} {
      &:hover {
        @include media-breakpoint-up(md) {
          .bi {
            transform: $transform;
            transition: transform .25s ease-in-out;
            will-change: transform;
          }
        }
      }
    }
  }
}