$navbar-brand-width: 10rem; // Width when header on page top
$navbar-brand-height: 3.5rem; // Height when header on page top
$navbar-brand-is-fixed-width: 8.5rem; // Width when header is fixed on screen
$navbar-brand-is-fixed-height: 2.5rem; // Height when header is fixed on screen

$navbar-toggler-size: 2.5rem;
$navbar-toggler-bar-width: 1.5rem;
$navbar-toggler-bar-height: 3px;

.navbar {
  transition: $transition-base;

  &-brand {
    position: relative;
    z-index: $zindex-offcanvas + 1;

    svg, &.icon-link svg,
    img, &.icon-link img {
      max-width: calc(100vw - 6rem);
      width: $navbar-brand-width;
      height: $navbar-brand-height;
      transition: width .25s, height .25s, all .25s ease-in-out;
    }
  }

  &-toggler {
    width: $navbar-toggler-size;
    height: $navbar-toggler-size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: inherit;
    border: 0 !important;
    box-shadow: none !important;
    z-index: $zindex-offcanvas + 1;
    transition: background .25s;

    &:before,
    span,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: $navbar-toggler-bar-width;
      height: $navbar-toggler-bar-height;
      display: block;
      background: currentColor;
      border-radius: $border-radius;
      transition: $transition-base;
      transform: translate(0, -50%);
    }

    &:before {
      margin-top: -0.5rem;
    }

    &:after {
      margin-top: 0.5rem;
    }
  }

  &-nav {
    //--#{$prefix}nav-link-color: #{$body-color};
    //--#{$prefix}nav-link-hover-color: #{rgba($primary, $opacity-level-semi-opaque)};
    //--#{$prefix}nav-link-active-color: #{rgba($primary, $opacity-level-semi-opaque)};
    //--#{$prefix}nav-link-font-weight: #{$font-weight-normal};
    //--#{$prefix}nav-link-font-size: #{$font-size-base};
    //--#{$prefix}nav-link-padding-y: #{$spacer};
    //--#{$prefix}nav-link-padding-x: #{$spacer * 2.5};
    //--#{$prefix}navbar-nav-link-padding-x: #{$spacer};
    //--#{$prefix}navbar-active-color: #{rgba($primary, $opacity-level-semi-opaque)};
  }

  .offcanvas {
    &,
    &-backdrop {
      padding-top: var(--header-height);
      height: 100vh;

      @include media-breakpoint-up(md) {
        padding-top: 0;
      }
    }

    &.show ~ .navbar-toggler {
      &:before {
        margin-top: 0;
        transform: translate(0, -50%) rotate(45deg);
        transform-origin: center;
      }

      span {
        transform-origin: center;
        transform: translate(0, -50%) scaleX(0);
      }

      &:after {
        margin-top: 0;
        transform: translate(0, -50%) rotate(-45deg);
        transform-origin: center;
      }
    }
  }

  .dropdown-menu {
    transition: $transition-base;
  }

  .fmd-header-is-hidden & {
    .dropdown-menu {
      opacity: 0;
      visibility: hidden;
    }
  }

  .fmd-header-is-fixed & {
    padding-top: $navbar-padding-y * .5;
    padding-bottom: $navbar-padding-y * .5;

    .navbar-brand svg,
    .navbar-brand img {
      width: $navbar-brand-is-fixed-width;
      height: $navbar-brand-is-fixed-height;
    }

    .offcanvas,
    .offcanvas-backdrop {
      padding-top: var(--header-height);
      height: 100vh;

      @include media-breakpoint-up(md) {
        padding-top: 0;
      }
    }
  }

  @each $breakpoint, $value in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint) {
      &.navbar-expand-#{$breakpoint} {
        .offcanvas,
        .offcanvas-backdrop {
          top: 0;
          height: auto;
        }
      }
    }
  }
}
