section {
  position: relative;
}

textarea {
  resize: none;
}

p:last-child {
  margin-bottom: 0;
}

a {
  outline: none !important;
  transition: $transition-base;
}

.wysiwyg img {
  max-width: 100%;
  height: auto;
}

.stretch {
  &-on-mobile {
    @include media-breakpoint-down(md) {
      width: 100vw;
      position: relative;
      transform: translateX(-50%);
      left: 50%;
      padding-inline: $spacer;
    }
  }
}