// theme-colors
$silver: #bababa; //primary
$chartreuse-yellow: #e8ff00; // secondary
$japanese-laurel: #008B00; //success
//$crusta: #ff8031; //info
$saffron: #F8CC2C; //warning
$alizarin-crimson: #d72638; //danger
//$feijoa: #A4D982; //dark
$royal-blue: #3461DB; //link

// colors
$ds-gray-100: #f8f9fa;
$ds-gray-200: #e9ecef;
$ds-gray-300: #dee2e6;
$ds-gray-400: #ced4da;
$ds-gray-500: #adb5bd;
$ds-gray-600: #6c757d;
$ds-gray-700: #495057;
$ds-gray-800: #343a40;
$ds-gray-900: #212529;
$ds-blue: #0d6efd;
$ds-indigo: #6610f2;
$ds-purple: #6f42c1;
$ds-pink: #d63384;
$ds-red: #dc3545;
$ds-orange: #fd7e14;
$ds-yellow: #ffc107;
$ds-green: #198754;
$ds-teal: #20c997;
$ds-cyan: #0dcaf0;
$ds-black: #000000;
$ds-white: #ffffff;

$ds-primary: $silver;
$ds-secondary: $chartreuse-yellow;
$ds-success: $japanese-laurel;
$ds-info: $ds-cyan;
$ds-warning: $saffron;
$ds-danger: $alizarin-crimson;
$ds-light: $ds-gray-100;
$ds-dark: $ds-black;
